nav ul {   								/* pour mettre le menu de navigation en vertical et au centre*/
	display: flex;
	justify-content: center;
}

.menu{
	display: flex;
}

#conteneur{
	display: flex;
	justify-content: space-between;
	margin: 10PX

}

.element{
	width: 40%;
	border: 1px solid black;
	background-color: green;
}


section{
	display: flex;
	justify-content: center;
}

div{
	width: 10%;
	padding:5%%;
	border: 1px solid black;
	margin: 1%;
}




.texte{
	width: 50%;
display: flex;
margin-left: auto;
margin-right: auto;
}
