

div#content div{
	display: inline-block;
	width: 48%
}

div#content div.annonce2 {
	background-color: purple;
	width: 100%
	margin:8px;
}

div#content div, h1, p,{
	margin: 35px
}

div#content div.leftbox{
vertical-align: top;
background-color: yellow; }


div#content div.rightbox{
	background-color: green;

}
nav.menu-nav ul li.btn{
	list-style-type: none;
	display:inline-block;}

nav.menu-nav ul li.btn a{
	background-color: red;
	padding: 10px }

nav.menu-nav ul li.btn:hover a{
	color: red;
	background-color: white;
	transition: 0.3s all;
}

@media screen {

}Small devices (portrait tablets and large phones, 600px and up)
@media only screen and (min-width: 600px) {...}
/*body{
	background-image:url(img/p.jpg);
	background-position: 100%;
}

p{ font-weight:bold; }

h1{ padding: 15px; } */
